ace
datasets
emoji
es_core_news_sm
flit
hatchling
huggingface-hub==0.23.1
ipdb
Iprogress
ipykernel
ipython
ipywidgets
jupyter
jupyterlab
jupyterlab_widgets
kaleido
matplotlib
myst-parser
nltk
numpy
pandas
parameterized
pylint
pysentimiento
pytest
python-multipart
requests
scikit-image
scikit-learn
scipy
seaborn
spanish-nlp
sphinx
swifter
tensorflow
torch
torchsummary==1.5.1
torchtext==0.18.0
tqdm==4.66.4
transformers
twine
Unidecode